/*****************************************************************************/
/* 
/* Colors 
/* 
/*****************************************************************************/
::root {
    --link: blue;
    /* var(--link) */
    --linkhover: #007eff;
    /* var(--linkhover) */
    --tcl: #d9ffe6;
    /* var(--tcl) */
    --tclhover: #fff;
    /* var(--tclhover) */
    --dark: #111;
    /* var(--dark) */
    --dark2: #000;
    /* var(--dark2) */
    --mid: #9E9E9E;
    /* var(--mid) */
    --mid2: #bbbbbb;
    /* var(--mid2) */
    --lite: #fff;
    /* var(--lite) */
    --blood: #a00;
    --code: #f9f2f4;
    /* color: var(--code); */;
    --code2: #f9f2f4;
    /* color: var(--code2); */
}
/*****************************************************************************/
/* 
/* Common 
/* 
/*****************************************************************************/
/* Global Reset */
* {
    -webkit-tap-highlight-color: transparent;
}
div {
    white-space: normal;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    background-color: #f6f7f3;
    background-color: var(--dark);
    font: 14px Helvetica, Arial, sans-serif;
    color: var(--lite);
}
body {
    color: var(--lite);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}
h1 {
    color: var(--dark2);
    background: var(--lite);
    margin-bottom: 1em;
    font-size: 1.85em;
    padding: 12px 0;
}
#home h1 {
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}
#home h1 {
    color: var(--lite);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0;
    padding: 5px 8px 4px 8px;
    border-radius: 0;
    display: inline;
    text-indent: 0;
    margin-left: -10px;
}
p {
    margin: 1em 0;
}
a,
a:active,
a:visited {
    color: var(--link);
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: var(--lite);
}
hr{
    margin:1.5em 0 1em;
    width:100%;
    height:.2em;
    background:rgba(0,0,0,.2);
    padding:0;    
}
/*****************************************************************************/
/* 
/* Home 
/* 
/*****************************************************************************/
#home ul.posts li:before {
    list-style-type: none;
    position: absolute;
    margin-left: -1.5em;
    padding-right: 1em;
    content: '\203A';
    transition: margin-left .23s ease;
}
#home ul.posts {
    list-style-type: none;
    margin: .8em 0 4em;
    line-height: 1.4;
}
#home ul.posts li:hover:before {
    list-style-type: none;
    content: '\2192';
    margin-left: -1.3em;
}
ul.posts {
    list-style-type: none;
    margin: .8em 0 4em;
    line-height: 1.4;
}
ul.posts span {
    color: var(--mid);
    font-size: 80%;
    letter-spacing: 0.0123em;
    margin-left: 10px;
}
/*****************************************************************************/
/* 
/* Site 
/* 
/*****************************************************************************/
.site {
    font-size: 16px;
    text-align: left;
    width: 42em;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
    color: var(--lite);
}
.title {
    color: var(--blood);
    /*#a00;*/
    font-weight: bold;
    margin-bottom: 2em;
}
.site .title a {
    color: var(--mid2);
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-variant: all-small-caps;
}
.site .title a:hover {
    color: var(--tclhover);
    text-decoration: underline;
}
.site .title a.extra {
    color: var(--link);
    text-decoration: none;
    margin-left: 1em;
    text-transform: capitalize;
}
.site .title a.extra:hover {
    color: var(--linkhover);
}
.site .meta {
    color: var(--mid2);
}
.site .footer {
    color: var(--lite);
    border-bottom: 1px dotted var(--mid);
    box-shadow: 0 -3px 0 0 var(--lite);
    overflow: hidden;
    font-size: .63em;
}
.site .footer .contact {
    float: left;
    margin-right: 3em;
    line-height: 1.6;
}
.site .footer .contact a {
    color: var(--mid2);
}
.site .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}
.site .footer .rss img {
    border: 0;
}
/*****************************************************************************/
/* 
/* Posts 
/* 
/*****************************************************************************/
/* standard */
#post pre {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
    line-height: 20px;
    resize: both;
    color: #c7254e;
    font-family: monospace;
    background: var(--code);
    box-shadow: 0 0 0 0.1em;
}
@media print {
    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap !important;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        background: #fff;
        color: var(--code);
        font-family: monospace;
    }
}
#post ul,
#post ol {
    margin-left: 1.35em;
}
#post code {
    color: var(--code);
    background-color: var(--mid);
    border-radius: 4px;
    border: 0.1em solid var(--code);
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}
#post pre code {
    border: none;
}
#post img {
    max-width: 42em;
    padding: 1em 0;
}
code,
kbd {
    font-size: 1em;
}
code,
kbd {
    padding: 2px 4px;
}
li code {
    color: var(--code);
    background-color: var(--mid);
    border-radius: 4px;
    border: 0.1em solid;
}
li pre code {
    border: 0;
    box-shadow: none;
}
/* terminal */
#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}
#post pre.terminal code {
    background-color: #333;
}
#related {
    margin-top: 2em;
}
#related h2 {
    margin: 0;
    padding-bottom: 0;
    line-height: 1;
    box-shadow: 0 0, 0 -3px #000;
    padding: 10px 0;
    color: #000;
}
#related ul.posts {
    list-style-type: none;
    margin: 1.5em 0;
    line-height: .5;
}
#related a,
#related a:active,
#related a:visited {
    color: var(--code);
    padding: 2px 4px;
    box-shadow: inset 0 0 0 2px var(--code);
    margin-left: 10px;
}
@media screen and (max-width: 600px) {
    *,
    html,
    body {
        font-size: 100%;
    }
    body {
        font-size: calc(1vw + 24px);
    }
    .site {
        max-width: 100%;
        padding: 0 30px;
    }
    .site img {
        width: 100%;
    }
    h1 {
        line-height: 1.1;
    }
    #post pre {
        font-size: 1.1em;
        padding: 1.1em .5em;
    }
}
