:root{
  --side-padding:60px;
  --theme-color:#0a0a43;
  --dark-theme:#111;
  --theme-color30:hsl(240deg 74.03% 15.1% / 38%);
  --font-color:#fff;
  --font-color30:rgba(255,255,255,.3);
  --link-color:#31ff00;
  --link-colorHAte:var(--font-color);
}

/*****************************************************************************/
/* Global Reset */
* {
    -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

/*****************************************************************************/
html {
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  font-size:16px;
}
html{
  background:#141211;
  background:var(--dark-theme);
  padding-bottom:4em;
  color:var(--font-color);
}
a:link,
a:visited{
  color:var(--link-color);
  text-decoration:none;
}
a:hover,
a:active{
  color:var(--link-colorHAte);
  text-decoration:underline;
}
a:active{
  background:rgba(100,200,0,.5);
  outline:1px solid cyan;
}
.site{
  max-width:1000px;
  margin:0 auto;
}
.title{
  background:var(--dark-theme);
  padding:10px var(--side-padding);
  display:block;
  overflow:hidden;
  max-width:1000px;
  margin:0 auto;
  line-height:1.32;
  /*   mono */
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:500;
}
.title a:link,
.title a:visited{
  color:var(--link-color);
  text-decoration:overline;
}
.title a:hover,
.title a:active{
  color:var(--link-colorHAte);
  text-decoration:none;
}
.title a:active{
  background:rgba(100,200,0,.5);
  outline:1px solid cyan;
}
.title{
  padding-top:1em;
}
p, ul{
  background:#0a0a43;
  background:var(--dark-theme);
  padding:10px var(--side-padding);
  display:block;
  overflow:hidden;
  max-width:1000px;
  margin:0 auto;
  line-height:1.32;
/*   mono */
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:500;
}
ul li{
  list-style:square;
  margin-left: 40px;
}
.posts li{
  list-style:none;
  margin-left: 0;
}
h1,h2,h3{
  background:var(--dark-theme);
  padding:10px var(--side-padding);
  display:block;
  overflow:hidden;
  max-width:1000px;
  margin:0 auto;
  line-height:1.32;
  /*   bold */
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;  
  margin-top:20px;
  display: block;
}
h1{font-size:32px;}
h2{font-size:24px;}
h3{font-size:18px;}

pre code,
p code{
  background:#ccc;
  color:#000;
  padding:10px 20px;
  margin-bottom:20px;
  display: block;
  font-size:16px;
}
.meta{
  background:var(--dark-theme);
  padding:0 var(--side-padding);
  display:block;
  overflow:hidden;
  max-width:1000px;
  margin:0 auto;
  line-height:1.32;
  font-size:11px;
  opacity:.5;
/*   mono */
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:500;
}

hr{
    margin: 20px 60px;
    height: 2px;
    background: #fff;
    width: auto;
    display: block;
    border: none;
    padding: 0;
}

table{
/*   sans */
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:600;
  
  margin:20px 60px 40px;  
  display:block;
}
table thead{
  background:#ccc;
  color:#000;
}
table thead tr th{
  padding:10px 0;
  margin-bottom:25px;
  text-align:center;
}
table tbody tr td{
  padding:10px;
  box-shadow:0 1px 0 0;
  border-right:2px solid var(--dark-theme);
}

img{
    max-width: 100%;
}
