<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   	<meta name="author" content="Calvin Morett">

   	<!-- Homepage CSS -->
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
	
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>
<body>

<div class="site">
  <div class="title">
    <a class="extra" href="/">Stuff</a>
  </div>
	
 <nav class="breadcrumbs" aria-label="Breadcrumb">
      <a href="{{ '/' | relative_url }}">Home</a>
	  <span>{{ page.title }}</span>
    </nav>

	<main>{{ content }}</main>

  <div class="footer">
    <div class="contact">
      <p class="first-cell">© 2025</p>
      <p class="last-cell">
         <a href="https://codepen.io/calm/">codepen</a>         
         <a href="https://github.com/calvinmorett">github</a>         
      </p>
    </div>
    </div>
  </div>
 </div>
						<!-- <script>
						function topFunction() {
						  document.body.scrollTop = 0;
						  document.documentElement.scrollTop = 0;
						}
						</script>-->
</body>
</html>
